---
layout: default
---

Resources

Let&#8217;s face it, today everyone needs to protect themselves. On websites there are a great many legal aspects that
must be covered. Legislation has determined that their are specific categories of information that must be disclosed on
any website. There are so many different hoops that some times it can take hours to read all of them!**_ _**

However, we must jump through all of those hoops just like everyone else. The law also regulates the kinds of content
that can be published on any website. So this is our list of the needed hoops, I mean pages for you to read:
**_<span> </span>_**

<a href="https://3deplans.com/anti-spam-policy/" rel="noopener noreferrer" target="_blank">Anti Spam Policy</a>
<a href="https://3deplans.com/cookies-policy/" rel="noopener noreferrer" target="_blank">Cookies Policy</a>
<a href="https://3deplans.com/terms-and-conditions/" rel="noopener noreferrer" target="_blank">Terms And Conditions</a>
<a href="https://3deplans.com/legal-disclaimer/" rel="noopener noreferrer" target="_blank">Legal Disclaimer</a>
<a href="https://3deplans.com/dmca-digital-millennium-copyright-act/" rel="noopener noreferrer" target="_blank">DMCA
    Digital Millennium Copyright Act</a>

We hope that you will enjoy our website. It was created to help others.

Have a Great Day! CADMan **_<span> ツ</span>_**